# ignore .vscode files
.vscode/

# ignore module files
*.mod*

# ignore build
builds/*

# ignore input
inputfiles/*

# ignore compiler files
*.o

# ignore .dat files in plotter
src/Visualization/*.dat

# ignore output files
*.out



